node_modules
.env
*.db
.DS_Store
*.csv
*.xls
*.xlsx
.vscode
dist
build

google-credentials.json
test_log.txt
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.bak

# IDE settings
.idea/

# Build output
out/
out_*.txt
